<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body class="modal-content">
<ng-container *ngIf="openLoginModal">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Login</h2>
    <label for="usernameOrEmail">Username or Email:</label>
    <input formControlName="usernameOrEmail"
           type="text"
           id="usernameOrEmail"
           name="usernameOrEmail" required>
    <div *ngIf="loginForm.get('usernameOrEmail')?.touched && loginForm.get('usernameOrEmail')?.hasError('required')"
         style="color: red; font-size: 12px;">
      <span>Username or Email is required.</span>
    </div>


    <label for="password">Password </label>
    <input formControlName="password"
           type="password"
           id="password"
           autocomplete="current-password"
           name="password" required/>
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')"
      style="color: red; font-size: 12px;">
      <span>Password is required.</span>
    </div>

    <div class="radio-button-container">
      <label for="roleAdmin">Admin </label>
      <input formControlName="role"
             type="radio"
             id="roleAdmin"
             class="role"
             name="role"
             value="admin"/>


      <label for="roleUser">User</label>
      <input formControlName="role"
             type="radio"
             id="roleUser"
             class="role"
             name="role"
             value="user"/>
      <div *ngIf="loginForm.get('role')?.touched && loginForm.get('role')?.hasError('required')"
           style="color: red; font-size: 12px;">
        <span>Role Control Status: {{ loginForm.get('role')?.status }}</span>
        <span>Please select a role.</span>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" class="login">Login</button>
      <button type="button" (click)="register()" class="register">Register</button>
    </div>
  </form>
</ng-container>
</body>

</html>
