@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* Header Section  */
.top-bar {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-right: 80%;

  @media (max-width: 1300px) {
    padding-left: 15px;
  }
  @media (max-width: 992px) {
    padding-left: 10px;
  }
}

/* Cards-Top */
.card.card-block-small {
  padding: 15px 20px;
}

.col-md-6 .card.widget-card-1 {
  height: 70px;
  margin-top: 40px;
  margin-bottom: 65px;
  text-align: center;
  background: #ffbe33;
}

.widget-card-1 .card1-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -15px;
  font-size: 35px;
  border-radius: 8px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.widget-card-1 h4 {
  font-weight: 400;
  margin-top: 10px;
}

.widget-card-1:hover .card1-icon {
  top: -25px;
}

.food-icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

/* Statistic card */
.custom-card {

  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-card .card-header {
  background-color: #ffbe33;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
}

.custom-card .card-header h5 {
  margin-bottom: 0;
}

.custom-card .card-header-right {
  float: right;
}

.custom-card .card-header-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-card .card-header-right ul li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.custom-card .card-block {
  padding: 20px;
}
/* Right Cards */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-block {
  padding: 20px;
}

.row {
  margin: 0;
}

.col-6 {
  padding: 0 10px;
}

.text-muted {
  color: #888;
}

.fb-card .card-header {
  background-color: #3b5998;
  color: #fff;
}

.dribble-card .card-header {
  background-color: #ea4c89;
  color: #fff;
}

.twitter-card .card-header {
  background-color: #1da1f2;
  color: #fff;
}


.delete-button {
  display: inline-block;
  background-color: red;
  font-size: 15px;
  margin-right: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 18px;
  border-radius: 10px;
}
.edit-button {
  align-self: auto;
  background-color: green;;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 18px;
  border-radius: 10px;
}


.card-block-small {
  position: relative;
}

.round-button {
  font-size: 5px;
  position: relative;
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 25px;
}

.round-button a {
  text-decoration: none;
  color: inherit;
}

.round-button i {
  font-size: 18px;
  margin-right: 5px;
}





/* Style the modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-container {
  width: 750px;
  height: 470px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  overflow: auto;
  max-height: 100vh;
  z-index: 1001;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.modal-header button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.modal-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-content {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-group img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}



















@media only screen and (max-width: 1366px) { }

 @media only screen and (max-width: 991px) { }

 @media only screen and (min-width: 768px) and (max-width: 872px) {}

 @media only screen and (max-width: 768px) {  }


